@model PagedList.IPagedList<_StoreFront.DATA.EF.Product>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Product";
}

<h2>@ViewBag.Title</h2>

@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

<table class="table data-table table-striped">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ProductDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ProductImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ProductCategory.ProductCategory1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ProductStatu.StatusName)
        </th>
        @*@if (Request.IsAuthenticated && User.IsInRole("Admin")) { }*@

        <th></th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCategory.ProductCategory1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductStatu.StatusName)
            </td>

            @*@if (Request.IsAuthenticated && User.IsInRole("Admin"))
                {*@
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProductID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })
            </td>
            @*}*@
        </tr>
    }

</table>

@section scripts{

    <script>
        //Apply the jQuery DataTables plugin
        $(document).ready(function () {
            $(".data-table").DataTable();
        });
    </script>

}

